DefaultUserface  BITMAP  "..\\Image\\default-userface.bmp"
UserstatusButtonDown  BITMAP "..\\Image\\UserstatusButtonDown.bmp"
AwayD  BITMAP "..\\Image\\away-d.bmp"
AwayS  BITMAP "..\\Image\\away-s.bmp"
AwayUS  BITMAP "..\\Image\\away-us.bmp"
OnlineD  BITMAP "..\\Image\\online-d.bmp"
OnlineS  BITMAP "..\\Image\\online-s.bmp"
OnlineUS  BITMAP "..\\Image\\online-us.bmp"
OfflineD  BITMAP "..\\Image\\offline-d.bmp"
OfflineS  BITMAP "..\\Image\\offline-s.bmp"
OfflineUS  BITMAP "..\\Image\\offline-us.bmp"
OnlineTR RCDATA "..\\Image\\Online-tr.png"
OfflineTR RCDATA "..\\Image\\offline-tr.png"
AwayTR RCDATA "..\\Image\\away-tr.png"
LoadingAnimate10 RCDATA "..\\Image\\loading-animate-10.png"
OnlineMenu BITMAP "..\\Image\\online-menu.bmp"
AddUserNormal BITMAP "..\\Image\\ControlPanel\\add_user_normal.bmp"
AddUserActive BITMAP "..\\Image\\ControlPanel\\add_user_active.bmp"
AddUserDown BITMAP "..\\Image\\ControlPanel\\add_user_down.bmp"
SettingsNormal BITMAP "..\\Image\\ControlPanel\\settings_normal.bmp"
SettingsActive BITMAP "..\\Image\\ControlPanel\\settings_active.bmp"
SettingsDown BITMAP "..\\Image\\ControlPanel\\settings_down.bmp"
GroupNormal BITMAP "..\\Image\\ControlPanel\\group_normal.bmp"
GroupActive BITMAP "..\\Image\\ControlPanel\\group_active.bmp"
GroupDown BITMAP "..\\Image\\ControlPanel\\group_down.bmp"
